html {
  height: 100vh;
}

body {
  min-height: 100vh;
  background-color: #F8F9FA;
}

#body {
  min-height: 600px;
}

header {
  background-color: white;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .list-group-item {
  padding-left: 16px !important;
}

#sidebar.active .fa {
  font-size: 20px;
}

#sidebar {
  min-height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

#sidebar .list-group-item {
  border: none;
  width: 100%;
  color: #2196F3;
}

#sidebar .fa {
  font-size: 16px;
}

#sidebar .list-group {
  height: 100%;
  width: 100%;
}

#sidebar .active {
  background-color: #E3F2FD;
}

#sidebar a:hover {
  background-color: #E3F2FD;
  color: #2196F3;
}

