html {
  height: 100vh;
}

body {
  min-height: 100vh;
  background-color: #F8F9FA;
}

#body {
  min-height: 100vh;
}

header {
  background-color: white;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
  min-height: 100% !important;
}

#sidebar.active .list-group-item {
  padding-left: 16px !important;
}

#sidebar.active .fa {
  font-size: 20px;
}

#sidebar {
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
  background-color: white;
}

#sidebar .list-group-item {
  border: none;
  width: 100%;
  color: #ff6b21;
}

#sidebar .fa {
  font-size: 16px;
}

#sidebar .list-group {
  height: 100%;
  width: 100%;
}

#sidebar .active {
  background-color: #F8F9FA;
}

#sidebar a:hover {
  background-color: #979899;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
}

#revenus-canvas {
  height: 100px;
}

div.clear {
  clear: both;
}

div.product-chooser.disabled div.product-chooser-item {
  zoom: 1;
  filter: alpha(opacity=60);
  opacity: 0.6;
  cursor: default;
}

div.product-chooser div.product-chooser-item {
  padding: 11px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  border: 1px solid #efefef;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10x;
}

div.product-chooser div.product-chooser-item.selected {
  border: 4px solid #428bca;
  background: #efefef;
  padding: 8px;
  filter: alpha(opacity=100);
  opacity: 1;
}

div.product-chooser div.product-chooser-item img {
  padding: 0;
}

div.product-chooser div.product-chooser-item span.title {
  display: block;
  margin: 10px 0 5px 0;
  font-weight: bold;
  font-size: 12px;
}

div.product-chooser div.product-chooser-item span.description {
  font-size: 12px;
}

div.product-chooser div.product-chooser-item input {
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}

#dropzone {
  border: dashed gray 2px;
  border-radius: 20px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 75px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 22px;
  background-color: #dddddd;
  border-radius: 52px;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: #27A1CA;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 45px;
  background-color: #27A1CA;
}

